/* Navbar color, position*/
.navbar {
  background-color: #702151;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/*Navbar items color, style*/
.navbar a {
  float: left;
  display: block;
  color: #f8ddf0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Center align the navbar links*/
.nav-link {
  display: flex;
  justify-content: center;
}

/* Center align the navbar links*/
.nav-signup-in {
  display: flex;
  justify-content: right;
}

/* Hovering mouse pointer color change*/
.navbar a:hover {
  background: #c98c8c;
  transform: scale(0.9);
  border-radius: 7px;
  color: #0a0a0a;
}

/* Color for the tab or link you are in*/
.navbar a.active {
  background-color: #04aa6d;
  transform: scale(0.9);
  border-radius: 7px;
  color: white;
}

.main {
  margin-top: 50px;
}
