/* Navbar color, position*/
body {
  background-color: rgb(235, 235, 235);
}

.navbar {
  background-color: #f8f8fb;
  position: fixed;
  padding: 4px;
  top: 0;
  left: 0;
  width: 100%;
  shape-outside: margin-box;
  box-shadow: 0 4px 4px 0 #9da5b2;
}

/*Navbar items color, style*/
.navbar a {
  float: left;
  display: block;
  color: #193463;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Center align the navbar links*/
.nav-link {
  display: flex;
  justify-content: center;
}

/* Right align the navbar links*/
.nav-signup-in {
  display: flex;
  margin-left: auto;
}

/* Hovering mouse pointer color change*/
.navbar a:hover {
  background: #c98c8c;
  transform: scale(0.9);
  border-radius: 7px;
  color: #0a0a0a;
}

/* Color for the tab or link you are in*/
.navbar a.active {
  background-color: #04aa6d;
  transform: scale(0.9);
  border-radius: 7px;
  color: white;
}

.main {
  margin-top: 65px;
}
