<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../asset/styles.css" />
    <title>SERVICE</title>
  </head>
  <body>
    <div class="navbar">
      <div class="nav-link">
        <a href="../index.html">HOME</a>
        <a href="property.html">PROPERTY</a>
        <a href="service.html" class="active">SERVICE</a>
        <a href="contact.html">CONTACT</a>
      </div>
    </div>
    <div class="main">This is service</div>
  </body>
</html>
